.idea/
.vscode/

frontend/.idea/
frontend/.vscode/
frontend/node_modules/
frontend/npm-debug.log*
frontend/yarn-error.log
frontend/.env

backend/.idea/
backend/.vscode/
backend/target/
backend/*.class
backend/*.iml
backend/.project
backend/*.log


