# idea folders
.idea/
.vscode/

# frontend
frontend/.idea/
frontend/.vscode/
frontend/dist/
frontend/build/
frontend/node_modules/
frontend/npm-debug.log*
frontend/yarn-error.log
frontend/.env

# backend
backend/.idea/
backend/.vscode/
backend/target/
backend/*.class
backend/*.iml
backend/.project
backend/*.log

# terraform
infrastructure/iac/terraform/.terraform/
infrastructure/iac/terraform/*.tfstate
infrastructure/iac/terraform/*.tfstate.*
infrastructure/iac/terraform/*.tfvars
infrastructure/iac/terraform/crash.log
infrastructure/iac/terraform/*.tfplan
infrastructure/iac/terraform/.terraform.lock.hcl

infrastructure/terraform/.terraform/
infrastructure/terraform/.terraform.lock.hcl
infrastructure/terraform/*.tfstate
infrastructure/terraform/*.tfstate.*
infrastructure/terraform/crash.log
infrastructure/terraform/*.tfplan