# idea folders
.idea/
.vscode/

# frontend
frontend/.idea/
frontend/.vscode/
frontend/dist/
frontend/build/
frontend/node_modules/
frontend/npm-debug.log*
frontend/yarn-error.log
frontend/.env

# backend
backend/.idea/
backend/.vscode/
backend/target/
backend/*.class
backend/*.iml
backend/.project
backend/*.log

# terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/crash.log
terraform/*.tfplan
terraform/.terraform.lock.hcl

# secrets
.secrets