name: Build and Push Containers

on:
  push:
    branches:
      - main

jobs:
  build-app:
    runs-on: ubuntu-latest

    steps:
      # checkout the code
      - name: Checkout code
        uses: actions/checkout@v3

      # set up node.js for svelte app build
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      # caching for node.js
      - name: Cache Node.js dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      # build the Svelte app
      - name: Build Svelte app
        run: |
          cd frontend
          npm ci
          npm run build

      # set up JDK 17 for building the spring boot app
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: "adopt"
          java-version: "17"

      # caching for maven
      - name: Cache Maven dependencies
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      # build the spring boot app using maven
      - name: Build Spring Boot app
        run: |
          cd backend
          ./mvnw clean package -DskipTests

  build-and-push-containers:
    runs-on: ubuntu-latest
    needs: build-app

    steps:
      # log in to docker hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # build svelte frontend image
      - name: Build Svelte app container
        run: |
          docker build -t osklot12/svelte-frontend:latest ./frontend

      # build spring backend image
      - name: Build Spring Boot backend image
        run: |
          docker build -t osklot12/spring-backend:latest ./backend

      # push svelte frontend docker image
      - name: Push Svelte frontend Docker image
        run: |
          docker push osklot12/svelte-frontend:latest

      # push spring backend docker image
      - name: Push Spring backend Docker image
        run: |
          docker push osklot12/spring-backend:latest