name: Deploy Infrastructure

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - gitactions

jobs:
  deploy-infrastructure:
    runs-on: ubuntu-latest

    steps:
      # checkout the code
      - name: Checkout code
        uses: actions/checkout@v3

      # authenticate with google cloud using the service account json key
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      # set up google cloud sdk
      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v1
        with:
          version: "latest"
          project_id: "idata2502-ci-cd"

      # set up terraform cli
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.4.5

      # terraform init
      - name: Terraform Init
        run: terraform init
        working-directory: infrastructure/iac/terraform/

      # refreshing before preceding with any command
      - name: Terraform Refresh
        run: terraform refresh
        working-directory: infrastructure/iac/terraform/

      # terraform plan
      - name: Terraform Plan
        run: terraform plan -out=tfplan
        working-directory: infrastructure/iac/terraform/

      # terraform apply with conditional approval
      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan
        working-directory: infrastructure/iac/terraform/