name: Secrets Detection

on:
  workflow_run:
    workflows:
      - Secrets Detection
    types:
      - completed

jobs:
  run-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run Super-Linter
        uses: github/super-linter@v5
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_ALL_CODEBASE: false

          # Paths to lint
          FILE_PATHS: |
           backend/src/main/java/ntnu/idata2502/backend/
           backend/src/test/java/ntnu/idata2502/backend/
           backend/src/main/resources/
           backend/Dockerfile
           backend/.env

           frontend/src/
           frontend/src/classes/
           frontend/src/components/
           frontend/src/services/
           frontend/src/stores/
           frontend/src/styles/
           frontend/src/tests/
           frontend/src/utils/
           frontend/index.html
           frontend/Dockerfile
           frontend/package.json
           frontend/vite.config.js
           frontend/tsconfig.json

           infrastructure/cac/ansible/
           infrastructure/iac/terraform/
           infrastructure/k8s/
           infrastructure/packer/

          # File types to validate
          FILE_TYPES: |
            java
            yaml
            dockerfile
            env
            svelte
            javascript
            typescript
            css
            html
            json
            terraform
            hcl

          # Paths to exclude
          FILE_PATHS_EXCLUDE: |
            backend/target/
            frontend/node_modules/
            infrastructure/k8s/secrets/
            **/build/**
            **/*.log